::ng-deep .flexPosition {
  display: flex !important;
  justify-content: space-between !important;
  border-right: none !important;
  border-left: none !important;
  background-color: #f6f6f8 !important;
}

::ng-deep .ui-table {
  user-select: none !important;
  max-height: 100% !important;
  max-height: 90% !important;
}

::ng-deep .ui-table-wrapper {
  height: 80% !important;
}

::ng-deep table {
  height: 100% !important;
  border-spacing: 3px !important;
  border-collapse: separate !important;
}

::ng-deep td {
  text-align: center;
  border: none !important;
  background-color: white !important;
}
:ng-deep tr {
  padding: 10px !important;
}
::ng-deep .ui-widget {
  font-size: 13px !important;
}

::ng-deep .ui-table .ui-table-frozen-view .ui-table-tbody > tr > td,
.ui-table .ui-table-unfrozen-view .ui-table-tbody > tr > td {
  height: 24px !important;
}
::ng-deep .ui-table .ui-table-thead > tr > th {
  color: #686bca !important;
  background-color: #f6f6f8 !important;
}
.myTable {
  tr {
    height: 24px !important;
  }
}
// .serachArea{
//     display: flex;
// }
.small {
  height: 15px !important;
  width: 15px !important;
}

.search {
  position: absolute;
  bottom: 2px;
  right: 5px;
  width: 24px;
  height: 24px;
}

.x {
  position: absolute;
  bottom: 2px;
  left: 3px;
  width: 24px;
  height: 24px;
}
::ng-deep .ui-inputtext {
  padding: 0 !important;
  text-align: center !important;
  height: 20px !important;
  width: 100% !important;
}
::ng-deep body .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #f6f6f8 !important;
}
::ng-deep body .ui-table .ui-table-tbody tr {
  background-color: #f6f6f8 !important;
}
input {
  height: 20px !important;
  width: 100% !important;
  margin: 0;
  text-align: center !important;
}
.inputContainer {
  position: relative;
  background: #ddd;
  direction: rtl;
  width: 200px;
}

.filterContainer {
  input {
    width: 200px !important;
  }
  position: relative;
  width: 200px;
}

::ng-deep.spaceUnder {
  border-spacing: 0 1em !important;
  border-collapse: separate;
}

::ng-deep .ui-state-highlight {
  color: black !important;
}

.pageContainer {
  display: flex;
}

.tableSection {
  width: 100%;
}

.summary {
  font-size: 2rem;
  width: 50%;
  margin: auto;
  text-align: center;
}

::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover{
  background-color: #5053a1 !important;
}

::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active{
  background-color: #474a94 !important;
}

::ng-deep .ui-calendar {
  width: 100% !important;
}

::ng-deep .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon .pi .pi-fw .pi-sort{
  color: #686bca !important;
}
::ng-deep .ui-table .ui-sortable-column .ui-sortable-column-icon{
  color: #686bca !important;
}
