<div class="box">
    <div class="box__ghost">
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>

        <div class="box__ghost-container">
            <div class="box__ghost-eyes">
                <div class="box__eye-left"></div>
                <div class="box__eye-right"></div>
            </div>
            <div class="box__ghost-bottom">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="box__ghost-shadow"></div>
    </div>

    <div class="box__description">
        <div class="box__description-container">
            <div class="box__description-title">אין לך הרשאה להיכנס לאתר זה</div>
            <div class="box__description-text">תפנה/י לאחראי שלך כדי שיוסיפו לך הרשאה לאתר</div>
        </div>
        <div class="button">
            <a target="_blank" class="box__button">Access Denied</a>
        </div>
    </div>

</div>